.title {
  margin-top: 1rem;
}
.type {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #5a6168;
}
.products {
  display: flex;
}
.product-card {
  position:relative;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.product-card:hover .product-image {
  transform:scale(1.05) /* Zoom ảnh khi di chuyển chuột vào */
}

.product-info {
  margin-top: 1rem;
  color:black
}
.product-info .name {
  color:black;
}

.product-card:hover .product-info {
  opacity: 1; /* Hiển thị thông tin khi di chuyển chuột vào */
}
.name {
  color: #E6E6DD;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style:oblique
}
.heart-button {
  position: absolute;
  top: 0.5rem;
  right: 1.3rem;
  background-color: transparent; /* Để nút không có nền */
  border: none; /* Để nút không có viền */
  cursor: pointer; /* Để con trỏ thành dạng pointer khi hover vào nút */
}
.loading {
  display: flex;
  justify-content: center; 
  margin-bottom: 2rem;
}
.button-size {
  margin-right: 1rem ;
  display: inline-block;
}
.detail h6 {
  margin-bottom: 1rem;
}
.detail p { 
  margin-top: 1rem;
}
.Checkout { 
  margin-top: 2rem;
  margin-left: 70rem;
  margin-bottom: 2rem;
}
.cart {
  font-size: 12px;
}
.cart img {
  max-width: 100%;
  height: auto;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls .quantity {
  margin: 0 10px;
}

.text-right {
  text-align: right;
}

.button-shopping,
.button-checkout {
  margin-left: 10px;
}

.cart p {
  margin: 0;
}
